{% extends "base.html" %}

{% block pagetitle %}encounter\battle{% endblock pagetitle %}

{% block content %}
    <h4>In combat</h4>
<ul class="quiet">
    <li><a href="{% url 'encounter:healself' pk=character.battle_set.get.id %}">Heal Self</a></li>
    {% for enemy in character.battle_set.get.npcs.all %}
    <li>{{ enemy }}<ul><li>life={{ enemy.life }}, <a href="{% url 'encounter:attack' pk=character.battle_set.get.id targetpk=enemy.id %}"> Attack!</a></li></ul></li>
    {% endfor %}
</ul>
{% endblock content %}

{% block extra %}
    {# move this to context #}
    {% for this in character.journal_set.all|slice:":8" %}
        {{ this.modified|time:"His" }}, {{ this.notes }}<br>
    {% endfor %}
{% endblock extra %}