{% extends 'base.html' %}

{% block pagetitle %}{{ object }}{% endblock pagetitle %}

{% block content %}
<p><a href="{% url 'index' %}">back</a> | <a href="{% url 'player:character:update' pk=object.id %}">edit</a></p>
<h4>{{ object }}</h4>
<ul>
    <li>type: {{ object.category }}</li>
    <li>life: {{ object.life }}/{{ object.life_max }}</li>
    <li>funk: {{ object.funk }}/100</li>
</ul>
<h4>notes:</h4>
<ul><li>{{ object.notes|linebreaksbr }}</li></ul>
<h4>auto-act:</h4>
<ul>
    <li>{{ xtradodg }}% Dodge if opponent would hit.</li>
    <li>{{ dbledamg }}% Double damage if you hit.</li>
    <li>{{ funkregn }}% Extra Funk regen; checked during funk regen after you finish an attack</li>
    <li>{{ magiheal }}% Heal self after opponent attack.</li>
    <li>{{ hitsteal }}% Steal money/items from opponent during a successful attack.</li>
    <li>{{ dbleatta }}% Add another hit during successful attack, damage cannot be doubled</li>
    <li>{{ dbleheal }}% Chance to boost healing during heal-self or auto-heal.</li>
</ul>
<br>
<p class="text-center">Born: {{ object.created }} | Updated: {{ object.modified }}</p>
{% endblock content %}
