{% extends "base.html" %}

{% block pagetitle %} update\{{ object }} {% endblock pagetitle %}

{% block content %}{{ form.errors }}
<form action="" method="post">
{{ form.name }} {{ object.category }}<br>
{{ form.notes }}
<hr>
    <table border="1">
    <tr>
        <td>10%</td>
        <td>10%</td>
        <td>10%</td>
        <td>10%</td>
        <td>10%</td>
        <td>10%</td>
        <td>10%</td>
        <td>10%</td>
        <td>Funk Name</td>
    </tr>
    <tr>
        <td>{{ form.c01.0 }}</td>
        <td>{{ form.c02.0 }}</td>
        <td>{{ form.c03.0 }}</td>
        <td>{{ form.c04.0 }}</td>
        <td>{{ form.c05.0 }}</td>
        <td>{{ form.c06.0 }}</td>
        <td>{{ form.c07.0 }}</td>
        <td>{{ form.c08.0 }}</td>
        <td>None</td>
    </tr>
    <tr>
        <td>{{ form.c01.1 }}</td>
        <td>{{ form.c02.1 }}</td>
        <td>{{ form.c03.1 }}</td>
        <td>{{ form.c04.1 }}</td>
        <td>{{ form.c05.1 }}</td>
        <td>{{ form.c06.1 }}</td>
        <td>{{ form.c07.1 }}</td>
        <td>{{ form.c08.1 }}</td>
        <td>Dodge if monster would hit.</td>
    </tr>
    <tr>
        <td>{{ form.c01.2 }}</td>
        <td>{{ form.c02.2 }}</td>
        <td>{{ form.c03.2 }}</td>
        <td>{{ form.c04.2 }}</td>
        <td>{{ form.c05.2 }}</td>
        <td>{{ form.c06.2 }}</td>
        <td>{{ form.c07.2 }}</td>
        <td>{{ form.c08.2 }}</td>
        <td>Double damage if you hit.</td>
    </tr>
    <tr>
        <td>{{ form.c01.3 }}</td>
        <td>{{ form.c02.3 }}</td>
        <td>{{ form.c03.3 }}</td>
        <td>{{ form.c04.3 }}</td>
        <td>{{ form.c05.3 }}</td>
        <td>{{ form.c06.3 }}</td>
        <td>{{ form.c07.3 }}</td>
        <td>{{ form.c08.3 }}</td>
        <td>Extra Funk regen; checked during funk regen after you finish an attack</td>
    </tr>
    <tr>
        <td>{{ form.c01.4 }}</td>
        <td>{{ form.c02.4 }}</td>
        <td>{{ form.c03.4 }}</td>
        <td>{{ form.c04.4 }}</td>
        <td>{{ form.c05.4 }}</td>
        <td>{{ form.c06.4 }}</td>
        <td>{{ form.c07.4 }}</td>
        <td>{{ form.c08.4 }}</td>
        <td>Heal self after monster attack.</td>
    </tr>
    <tr>
        <td>{{ form.c01.5 }}</td>
        <td>{{ form.c02.5 }}</td>
        <td>{{ form.c03.5 }}</td>
        <td>{{ form.c04.5 }}</td>
        <td>{{ form.c05.5 }}</td>
        <td>{{ form.c06.5 }}</td>
        <td>{{ form.c07.5 }}</td>
        <td>{{ form.c08.5 }}</td>
        <td>Steal money/items from monster during a successful attack.</td>
    </tr>
    <tr>
        <td>{{ form.c01.6 }}</td>
        <td>{{ form.c02.6 }}</td>
        <td>{{ form.c03.6 }}</td>
        <td>{{ form.c04.6 }}</td>
        <td>{{ form.c05.6 }}</td>
        <td>{{ form.c06.6 }}</td>
        <td>{{ form.c07.6 }}</td>
        <td>{{ form.c08.6 }}</td>
        <td>Add another hit during successful attack, damage cannot be doubled</td>
    </tr>
    <tr>
        <td>{{ form.c01.7 }}</td>
        <td>{{ form.c02.7 }}</td>
        <td>{{ form.c03.7 }}</td>
        <td>{{ form.c04.7 }}</td>
        <td>{{ form.c05.7 }}</td>
        <td>{{ form.c06.7 }}</td>
        <td>{{ form.c07.7 }}</td>
        <td>{{ form.c08.7 }}</td>
        <td>Chance to boost healing during heal-self or auto-heal.</td>
    </tr>
</table>
<hr>
    {% csrf_token %}<input type="submit" class="btn btn-sm btn-info" value="Save" /><a class="btn btn-sm btn-default" href="{{ object.get_absolute_url }}">Cancel</a>
</form>
{% endblock content %}
